<div>
    <h2 id="page-heading">
        <span jhiTranslate="reportsApp.reportTemplate.home.title">Report Templates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-report-template" [routerLink]="['/report-template/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="reportsApp.reportTemplate.home.createLabel">
            Create new Report Template
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="reportTemplates?.length === 0">
        <span jhiTranslate="reportsApp.reportTemplate.home.notFound">No reportTemplates found</span>
    </div>
    <div class="table-responsive" *ngIf="reportTemplates?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupReportId"><span jhiTranslate="reportsApp.reportTemplate.groupReportId">Group Report Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reportId"><span jhiTranslate="reportsApp.reportTemplate.reportId">Report Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let reportTemplate of reportTemplates ;trackBy: trackId">
                <td><a [routerLink]="['/report-template', reportTemplate.id, 'view' ]">{{reportTemplate.id}}</a></td>
                <td>{{reportTemplate.groupReportId}}</td>
                <td>{{reportTemplate.reportId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/report-template', reportTemplate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/report-template', reportTemplate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'report-template', { outlets: { popup: reportTemplate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="reportTemplates?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
